.icons {
    font-size: 40px;
    justify-content: center;
    display: flex;
    gap: 30px;
    width: 100%;
    
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: aqua;
    color: black;
    margin-top: auto;
    
}